a:focus, a:focus .media-icon img, a:focus .plugin-icon, .wp-person a:focus .gravatar {
  box-shadow: none;
  outline: none;
}

.omb-wrap {
  background: white;
  margin-left: -20px;
  padding: 20px;

  .nav-tabs {
    width: 100%;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid $light-gray;
    display: flex;


    li {
      margin-bottom: -1px;
      margin-right: 40px;
      transition: 0.5s;
      border-bottom: 1px solid transparent;

      a {
        display: block;
        text-decoration: none;
        padding: 10px 2px 16px 2px;
        transition: 0.5s;
        color: $gray;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        &:hover {
          color: $onix-blue;
        }
      }

      &.active {
        border-bottom: 1px solid $onix-blue;

        a, a:hover, a:focus {
          color: $onix-blue;
          cursor: default;
        }
      }
    }

  }

  .tab-content {
    .tab-pane {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .omb-fixed {
    position: fixed;
    bottom: 80px;
    right: 40px;
  }


  .button-wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 10px
  }


  .onix-helper-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-left: 15px;
    width: auto;

    .onix-helper-field-block {
      position: relative;

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 14px;
        line-height: 40px;
        z-index: 1;

        input {
          max-width: 320px;
          padding: 12px 16px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: -0.5px;
          border: 1px solid $light-gray;
          border-radius: 6px;

          &::placeholder {
            color: $light-gray;

          }
        }

        .row-right-part {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            color: $text-gray;
          }
        }
      }

      .oh-hide-on-default {
        padding: 12px 0;

        .oh-radio-input {
          margin-right: 25px;
        }
      }

      .onix-helper-description {
        padding: 16px;
        background: $desc-gray;
        border-radius: 8px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: $text-gray;
        display: flex;

        svg {
          display: block;
          min-width: 20px;
          max-width: 20px;

          margin-right: 10px;
          //height: 20px;

        }
        p{
          margin: 0;
        }

        &.hide-description{
          position: absolute;
          width: 20px;
          z-index: 0;
          top: 6px;
          height: 20px;
          overflow: hidden;
          left: -27px;
          padding: 5px;
          background: transparent;
          cursor: help;

          &:hover{
            overflow: initial;
            width: auto;
            height: auto;

            p{
              background: #4A4F58;
              margin-top: -30px;
              color: white;
              height: fit-content;
              padding: 5px;
            }
          }
        }
      }
    }
  }

  .oh-navigation-bar {
    background: $select-blue;
    padding: 50px 20px 20px;
    width: 100%;
    margin-left: -20px;
    margin-bottom: 40px;

    h1{
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 20px;
      color: $text-black;
      margin: 0 0 30px;
    }
  }
}
